/build/
/devel/
/install/
/logs/
/.vscode/
/datasets/
/old_versions/
/navigation_backup_*/
/navigation_success_*/
/rollback_snapshot_*/
/working_*/
/project_dirs.txt
/project_files.txt
*.bag
*.bag.active
*.log
/src/FAST_LIO/doc/
/src/ugv_sdk/docs/
/src/ranger_ros/docs/
/src/FASTLIO2_SAM_LC/pcd/outdoor_scans_1.pcd
